@import url("../fonts.scss");

.container {
    height: 100vh;
    background-color: #8e76a8;
    .header {
        padding: 15px 20px;
        color: #FFF;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
}